header {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07),
    0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.nav-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    padding: 0;
    height: fit-content;
}

.logo:hover {
    filter: none;
}

.nav-area img {
    height: 110px;
}